CENTRIFUGE_CHAIN_ORIGIN=0x7369626cef070000000000000000000000000000
MAINNET_RPC_URL=https://mainnet.infura.io/v3/...
POLYGON_RPC_URL=https://polygon-mainnet.infura.io/v3/...
PRIVATE_KEY=
ETHERSCAN_KEY=