[profile.default]
src = 'src'
out = 'out'
libs = ['lib']
# Sphinx options:
build_info = true
extra_output = ['storageLayout']
always_use_create_2_factory = true

solc_version = "0.8.21"
evm_version = "paris" # to prevent usage of PUSH0, which is not supported on all chains

optimizer = true
optimizer_runs = 500
verbosity = 3

fs_permissions = [
  { access = "read", path = "./deployments"},
  { access = "read", path = "./out"},
  { access = "read-write", path = "./cache"}
]

[profile.default.fuzz]
runs = 100
max_test_rejects = 1_000_000 # Number of times `vm.assume` can fail

[profile.default.invariant]
runs           = 10
depth          = 100
call_override  = false
fail_on_revert = false

[profile.ci.fuzz]
runs = 1000
max_test_rejects = 1_000_000 # Number of times `vm.assume` can fail

[profile.ci.invariant]
runs           = 100
depth          = 1000
call_override  = false
fail_on_revert = false

[profile.smt.model_checker]
  engine = "chc" # constrained Horn clauses
  invariants = ["contract", "reentrancy"]
  show_unproved = true
  timeout = 100_000 # in milliseconds, per solving query
  targets = [
    "assert",
    "constantCondition",
    "divByZero",
    "outOfBounds",
    "overflow",
    "underflow",
  ]

[profile.smt.model_checker.contracts]
  "src/LiquidityPool.sol" = ["LiquidityPool"]
  "src/InvestmentManager.sol" = ["InvestmentManager"]
  "src/PoolManager.sol" = ["PoolManager"]
  "src/Escrow.sol" = ["Escrow"]
  "src/Root.sol" = ["Root"]
  "src/token/ERC20.sol" = ["ERC20"]
  "src/token/Tranche.sol" = ["TrancheToken"]
  "src/token/RestrictionManager.sol" = ["RestrictionManager"]
  "src/admins/DelayedAdmin.sol" = ["DelayedAdmin"]
  "src/admins/PauseAdmin.sol" = ["PauseAdmin"]

[doc]
  ignore = ["**/*.t.sol", "**/*.s.sol"]
  out = "docs"
  repository = "https://github.com/centrifuge/liquidity-pools"

[fmt]
  line_length = 120
  tab_width = 4
  bracket_spacing = false
  int_types = "long"
  multiline_func_header = "attributes_first"
  quote_style = "double"
  number_underscore = "preserve"
  wrap_comments = true
  ignore = ["test/*.sol"]

[rpc_endpoints]
ethereum-mainnet = "https://mainnet.infura.io/v3/${INFURA_API_KEY}"
arbitrum-mainnet = "https://arbitrum-mainnet.infura.io/v3/${INFURA_API_KEY}"
celo-mainnet = "https://celo-mainnet.infura.io/v3/${INFURA_API_KEY}"
base-mainnet = "https://mainnet.base.org"
ethereum-testnet = "https://sepolia.infura.io/v3/${INFURA_API_KEY}"
arbitrum-testnet = "https://arbitrum-sepolia.infura.io/v3/${INFURA_API_KEY}"
celo-testnet = "https://celo-alfajores.infura.io/v3/${INFURA_API_KEY}"
base-testnet = "https://sepolia.base.org"